<!DOCTYPE html>
<html>
  <head>
    <title>TechHunt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
  </head>

  <body>
    <span class="notice<%= notice ? nil : " hidden" %>"><%= notice %></span>
    <span class="alert<%= alert ? nil : " hidden" %>"><%= alert %></span>
    <%= yield %>
  </body>
</html>
